* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.header {
  background: black;
  color: orange;
  height: 100px;
  padding: 10px;
  top: 0;
  position: sticky;
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  border: 2px solid orange;
  border-radius: 8px;
  z-index: 100;
}

.box {
  margin: 25px 10%;
  border: 5px solid black;
  padding: 20% 10% 5%;
  scroll-margin-top: 10px;
  border-radius: 25px;
  position: relative;
  display: flex;
  flex-direction: column;
}

p {
  font-size: 20px;
  font-weight: bold;
  justify-content: space-around;
}

.button {
  background-color: orange;
  color: black;
  font-weight: bold;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  align-self: center;
}

button:active {
  background-color: black;
  color: white;
}

.footer {
  background-color: orange;
  height: 80px;
  padding: 10px;
  position: sticky;
  justify-content: space-around;
  align-items: space-around;
  display: flex;
  bottom: 4px;
  border: 2px solid black;
  border-radius: 8px;
  z-index: 100;
  align-items: space-around;
  width: 100%;
  left: 0;
}

nav a img {
  width: 55px;
}

.hashtags span {
  font-size: 14px;
  padding: 4px;
  background-color: #eeeeee;
}

.hashtags {
  justify-self: flex-end;
  margin-top: 50px;
}

.ribbon {
  background-image: url("../Images/bookmark-ribbon.png");
  background-size: contain;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -15px;
  right: 25px;
}
