.questions__card {
  margin: 25px 10%;
  border: 5px solid black;
  padding: 20% 10% 5%;
  scroll-margin-top: 10px;
  border-radius: 25px;
  position: relative;
  display: flex;
  flex-direction: column;
}

p {
  font-size: 20px;
  font-weight: bold;
  justify-content: space-around;
}

.flex-hashtags {
  flex-wrap: wrap;
  display: flex;
  justify-self: flex-end;
  margin-top: 50px;
}

.hashtags span {
  font-size: 14px;
  padding: 4px;
  background-color: #eeeeee;
}

.ribbon {
  background-image: url("/Images/bookmark-ribbon.png");
  background-size: contain;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -15px;
  right: 25px;
}
