.header {
  background: black;
  color: orange;
  display: flex;
  justify-content: space-around;
  height: 100px;
  padding: 10px;
  top: 0;
  position: sticky;
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  border: 2px solid orange;
  border-radius: 8px;
  z-index: 100;
  margin: auto;
}
